BeautifulSoup==3.2.1
Flask==0.9
Flask-Assets==0.7
Flask-WTF==0.9.3
Jinja2==2.6
PIL==1.1.7
WTForms==1.0.5
Werkzeug==0.8.3
argparse==1.2.1
cssutils==0.9.10
distribute==0.7.3
flask-mongoengine==0.7.0
flask-peewee==0.6.5
gunicorn==0.17.2
mongoengine==0.8.4
peewee==2.1.5
pymongo==2.6.3
selenium==2.37.2
webassets==0.7
wsgiref==0.1.2
wtf-peewee==0.2.2
cssmin