{% include 'header.html' %}

<div class="sign-up" id="add-url-form">

</div>



{% include 'javascript_includes.html' %}

<script type="text/template" id="add-url-form">
    <h1 class="sign-up-title">Add new url</h1>
    <input type="text" class="sign-up-input" placeholder="Paste url" autofocus="">
    <button id="add" class="sign-up-button">ADD</button>
</script>

<script type="text/javascript">

(function($){

    window.Url = Backbone.Model.extend({});

    window.AddUrlView = Backbone.View.extend({
        initialize: function(){
            this.template = _.template($('#add-url-form').html());
        },
        render: function(){
            var renderedContent = this.template(this.Model.toJSON());
            $(this.el).html(renderedContent);
            return this;
        }
    });
})(jQuery);

</script>



{% include 'footer.html' %}