{% include 'header.html' %}

<div class="search-content">
	<div class="nav">
    	<div class="title-logo"></div>
	</div>

	    <form action="search" method="Post">
	        <input name="searchquery" type="text" class="search-input" placeholder="search a font" />
	        <button class="search"></button>
	    </form>
	    <br/>
	    <span class="example-txt">example: <a href="#">aller</a>,&nbsp;<a href="#">proxima nova</a></span>
</div>

<div class="results-area">
	<div class="grad-border"></div>


	<div class="fixed945px">
		<ul class="website-list">
			<li>
				<a class="browser" href="#">
					<div class="glare"></div>
					<img src="/static/images/website_throbber.gif" />
				</a>
				<a class="font-url" href="#">www.weblink.com</a>
			</li>
			<li>
				<a class="browser" href="#">
					<div class="glare"></div>
					<img src="/static/images/website_throbber.gif" />
				</a>
				<a class="font-url" href="#">www.weblink.com</a>
			</li>
			<li>
				<a class="browser" href="#">
					<div class="glare"></div>
					<img src="/static/images/website_throbber.gif" />
				</a>
				<a class="font-url" href="#">www.weblink.com</a>
			</li>
		</ul>
	</div>
	
</div> <!--end .results-area -->


{% include 'footer.html' %}