{% include 'header.html' %}

<div class="search-head">
	<div class="nav">
    	<div class="title-logo"></div>
	</div>
    <form action="search" method="Post">
        <input name="searchquery" type="text" class="search-input" placeholder="search a font" />
        <button class="search"></button>
    </form>
    <br/>
    <span class="example-txt">example: <a href="#">aller</a>,&nbsp;<a href="#">proxima nova</a></span>
</div>

<!--div class="fixed940px">
	<ul class="website-list">
		<li>
			<a href="#">
				<div class="glare"></div>
				<img src="http://i.imgur.com/1fmMxXP.png?1?9642" />
			</a>
		</li>
	</ul>
</div-->

{% include 'footer.html' %}